<!DOCTYPE html>
<html lang="en">
<!-- for load static files -->
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soil Nutrients : Team </title>

    <link rel="shortcut icon" href="{%static 'images/logo.ico' %}">

    <!-- Google Webfont -->
	<link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
	<!-- Icomoon Icons -->
	<link href="{% static 'css/icomoon-icons.css' %}" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

	<!-- Owl Carousel -->
	<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">

	<!-- Magnific Popup -->
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

	<!-- Easy Responsive Tabs -->
	<link href="{% static 'css/easy-responsive-tabs.css' %}" rel="stylesheet">

	<!-- Theme Style -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
		
    <!-- Header -->
    {% include 'module/header.html' %}
    <!-- Header -->

    <main role="main">
        <!-- Start Intro -->
        <div id="fh5co-intro">
            <div class="container">
                <h2>Team members </h2>
                    <div class="row">
                        <div class="col-md-12 fh5co-intro-sub">
                            <p style="text-align: justify;"> Definition of team development stages are special challenges to a group of people to work together successfully by using each development stage. 
                                The team and the organization take action to develop each stage to support the team to be a success and accomplish the mission. Our main goal is : Prediction of soil nutrients in the northern
                                parts of Bangladesh from satellite imagery. <br>
                                Having 6 members in this project. We've accomplish our goal very short period of time. All the members are so friendly and helpful during this project.</p>
                        </div>
                    </div>
            </div>
        </div>
        <!-- End Intro -->
        
        <!-- Start member -->
        <div id="fh5co-work">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
                        <a href="#" class="fh5co-work-item js-fh5co-work-item">
                            <img src="{% static 'images/member_1.jpg' %}" alt="Image" class="img-responsive">
                            <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
                            <div class="fh5co-overlay-text js-fh5co-overlay-text">
                                <h2>Md Rayhan Ahmed</h2>
                                <ul class="fh5co-categories">
                                    <li>United International University</li>
                                </ul>
                                <ul class="fh5co-categories">
                                    <li>“Be yourself. There is no one better.”</li>
                                </ul>
                                <ul class="fh5co-categories">
                                    <li>Email: mahmed171063@bscse.uiu.ac.bd</li>
                                </ul>
                                <ul class="fh5co-categories">
                                    <li>Contact: +880 1983-471971</li>
                                </ul>
                            </div>
                        </a>
                    </div>						

                    <div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
                        <a href="#" class="fh5co-work-item js-fh5co-work-item">
                            <img src="{% static 'images/member_2.jpg' %}" alt="Image" class="img-responsive">
                            <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
                            <div class="fh5co-overlay-text js-fh5co-overlay-text">
                                <h2>Md. Sojib Ahmed</h2>
                                <ul class="fh5co-categories">
                                    <li>United International University</li>
                                </ul>
                                <ul class="fh5co-categories">
                                    <li>“Learn from your mistakes.”</li>
                                </ul>
                                <ul class="fh5co-categories">
                                    <li>Email: mahmed171067@bscse.uiu.ac.bd</li>
                                </ul>
                                <ul class="fh5co-categories">
                                    <li>Contact: +880 1782-810429</li>
                                </ul>
                            </div>
                        </a>
                    </div>						

                </div>

                <!-- Start More member -->
                <div class="row">
                    <div class="col-md-12 fh5co-more-works js-fh5co-more-works">
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
                                <a href="#" class="fh5co-work-item js-fh5co-work-item">
                                    <img src="{% static 'images/member_3.jpg' %}" alt="Image" class="img-responsive">
                                    <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
                                    <div class="fh5co-overlay-text js-fh5co-overlay-text">
                                        <h2>Sumsuttibriz Riad</h2>
                                        <ul class="fh5co-categories">
                                            <li>United International University</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>“Life is ours to be spent, not to be saved.”</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Email: sriad172076@bscse.uiu.ac.bd</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Contact: +880 1739-731199</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>						
        
                            <div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
                                <a href="#" class="fh5co-work-item js-fh5co-work-item">
                                    <img src="{% static 'images/member_4.jpg' %}" alt="Image" class="img-responsive">
                                    <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
                                    <div class="fh5co-overlay-text js-fh5co-overlay-text">
                                        <h2>Mahammudul Hassan Himel</h2>
                                        <ul class="fh5co-categories">
                                            <li>United International University</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>“Being Unique Is Better Than Being Perfect.”</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Email: mhimel171066@bscse.uiu.ac.bd</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Contact: +880 1722-473327</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
                                <a href="#" class="fh5co-work-item js-fh5co-work-item">
                                    <img src="{% static 'images/member_5.jpg' %}" alt="Image" class="img-responsive">
                                    <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
                                    <div class="fh5co-overlay-text js-fh5co-overlay-text">
                                        <h2>Ahsan Habib Mim</h2>
                                        <ul class="fh5co-categories">
                                            <li>United International University</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>“Farmers should be respected.”</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Email: amim171159@bscse.uiu.ac.bd</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Contact: +880 1774-541902</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>						
        
                            <div class="col-md-6 col-sm-6 col-xs-6 fh5co-work-wrap">
                                <a href="#" class="fh5co-work-item js-fh5co-work-item">
                                    <img src="{% static 'images/member_6.jpg' %}" alt="Image" class="img-responsive">
                                    <div class="fh5co-overlay-bg js-fh5co-overlay-bg"></div>
                                    <div class="fh5co-overlay-text js-fh5co-overlay-text">
                                        <h2>Mynul Hasan</h2>
                                        <ul class="fh5co-categories">
                                            <li>United International University</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>“Whoever is happy will make others happy too.”</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Email: mhasan171279@bscse.uiu.ac.bd</li>
                                        </ul>
                                        <ul class="fh5co-categories">
                                            <li>Contact: +880 1798-593086</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>	

                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                    <a href="#" class="fh5co-view js-fh5co-view"><span class="fh5co-icon-view"><i class="ti-plus"></i></span> <span class="js-fh5co-view-text">View All</span></a>
                    </div>
                </div>
                <!-- End More Works -->


            </div>
        </div>
        <!-- End Work -->

        <div class="fh5co-spacer fh5co-spacer-md"></div>
        
        <!-- Start  Let's Chat -->
        <!-- {% include 'module/contact.html' %} -->
        <!-- End  Let's Chat -->
        <div class="fh5co-spacer fh5co-spacer-sm"></div>

    </main>

    <!-- footer section -->
    <div id="content">{% include 'module/footer.html' %}</div>
    <!-- footer section --> 

    
    
    <!-- Go To Top -->
    <a href="#" class="fh5co-gotop"><i class="ti-shift-left"></i></a>
    
        
    <!-- jQuery -->
    <script src="{%static 'js/jquery-1.10.2.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{%static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{%static 'js/bootstrap.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Easy Responsive Tabs -->
    <script src="{%static 'js/easyResponsiveTabs.js' %}"></script>
    <!-- FastClick for Mobile/Tablets -->
    <script src="{%static 'js/fastclick.js' %}"></script>
    <!-- Velocity -->
    <script src="{%static 'js/velocity.min.js' %}"></script>
    
    <!-- Main JS -->
    <script src="{%static 'js/main.js' %}"></script>

</body>
</html>