.demo-preview {
    padding-top: 100px;
    padding-bottom: 10px;
    margin: auto;
    width:50%;
    text-align: center;
  }
  $brand-default: #B0BEC5;
  $brand-primary: #2196F3;
  $brand-secondary: #323a45;
  $brand-success: #64DD17;
  $brand-warning: #FFD600;
  $brand-info:  #29B6F6;
  $brand-danger: #ef1c1c;
  $bg-light-gray: #f5f5f5;
  .custom-progress {
    background-color: $bg-light-gray;
    border-radius: 3px;
    box-shadow:none;
    &.custom-progress-xs {
      height: 5px;
      margin-top: 5px;
    }
    &.custom-progress-sm {
      height: 10px;
      margin-top: 5px;
    }
    &.custom-progress-lg {
      height: 25px;
    }
    &.vertical {
      position: relative;
      width: 20px;
      height: 200px;
      display: inline-block;
      margin-right: 10px;
      > .custom-progress-bar {
        width: 100%!important;
        position: absolute;
        bottom: 0;
      }
      &.custom-progress-xs {
        width: 5px;
        margin-top: 5px;
      }
      &.custom-progress-sm {
        width: 10px;
        margin-top: 5px;
      }
      &.custom-progress-lg {
        width: 30px;
      }
    }
  }
  
  .custom-progress-bar {
    background-color: $brand-primary;
    box-shadow:none;
    &.text-left{
      text-align: left;
      span{
        margin-left: 10px;
      }
    }
    &.text-right{
      text-align: right;
      span{
        margin-right: 10px;
      }
    }
  }
  @mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
    background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
    background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
  }
  
  @-webkit-keyframes custom-progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
  }
  
  // Spec and IE10+
  @keyframes custom-progress-bar-stripes {
    from  { background-position: 40px 0; }
    to    { background-position: 0 0; }
  }
  
  @mixin animation($animation) {
    -webkit-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
  }
  .custom-progress.active .custom-progress-bar,
  .custom-progress-bar.active {
    @include animation(custom-progress-bar-stripes 2s linear infinite);
  }
  .custom-progress-striped .custom-progress-bar,
  .custom-progress-bar-striped {
    @include gradient-striped;
    background-size: 40px 40px;
  }
  @mixin custom-progress-bar-variant($color) {
    background-color: $color;
  }
  
  .custom-progress-bar-secondary {
    @include custom-progress-bar-variant($brand-secondary);
  }
  
  .custom-progress-bar-default {
     @include custom-progress-bar-variant($brand-default);
  }
  
  
  
  .custom-progress-bar-success {
     @include custom-progress-bar-variant($brand-success);
  }
  
  .custom-progress-bar-info {
     @include custom-progress-bar-variant($brand-info);
  }
  
  .custom-progress-bar-warning {
     @include custom-progress-bar-variant($brand-warning);
  }
  
  .custom-progress-bar-danger {
     @include custom-progress-bar-variant($brand-danger);
  }
  